@{
    ViewBag.Title = "Remote Dash";
}

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
            <div data-id="iframeId1" data-view="Iframe" data-src="http://www.heise.de"></div>
        </li>
    </ul>
</div>
